body {
  background: rgb(254, 169, 58);
}

/* ................App.js ............. */

.link{
  font-size: 2.5rem;
  position: relative;
  top: 10px;
  left: 20px;
}

/* .............. Todos/Index page .............. */
.nav {
  text-align: center;
  font-size: 5rem;
}

.ul {
  background-color: #38f4d5 ;
  list-style-type: ">";
  /* text-align: center; */
  font-size: 2.5rem;
}

.completed{
  stroke-width: 2rem;
}

.notCompleted{
  background-color: #ffc8dd;
}


.crt{
  font-size: 2rem;
  position: absolute;
  top: 60px;
  left: 20px;
  
}

/* ................ Show Page ................ */

.show{
  text-align: center;
  font-size: 2.5rem;
}

#box{
  height: 30px;
  width: 30px;
}

.editBt {
  height:40px; 
  width:150px;
  font-size: 1.5rem;
}

.del{
  height:40px; 
  width:150px;
  font-size: 1.5rem;
}

/* ................ Create Page ................ */


.new{
  text-align: center;
  font-size: 2.5rem;
}

#dsc{
  display: block;
  width: 30%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 40px;
  font-size: 1.5rem;

  position: relative;
  top: 60px;
  left: 490px;
}


.crsub{
  height:40px; 
  width:150px;
  font-size: 1.5rem;

  position: relative;
  top: 2px;
  left: 310px;
}


/* ......................... Edit Page ..................... */

.box2{
  height: 30px;
  width: 30px;
}

#edd{
  position: relative;
  top: 20px;
  left: 440px;

  display: block;
  width: 40%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
}

.edsub{
  height:40px; 
  width:150px;
  font-size: 1.5rem;
}